/* =============
    Footer
============= */
footer{
    background-color: $night-dark;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "f1 f2"
            "f1 f3";
            gap: 16px;
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "f1 f2 f3";
        }

        #f1{
            @include md{
                grid-area: f1;
            }
            h1{
                color: $alpine-frost;
            }

           section{
               h2{
                color: $alpine-frost;
               }
               address{
                color: $alpine-frost-dark;
               }
           }

           section{
               h2{
                color: $alpine-frost;
               }
               Massachusetts{
                color: $alpine-frost-dark;
               }
           }
           section{
            h2{
             color: $alpine-frost;
            }
            nova{
             color: $alpine-frost-dark;
            }
        }
        }

        #f2{
            @include md{
                grid-area: f2;
            }
            h1{
                color: $alpine-frost;
            }
            input{
                color: $night-dark;
            }
        }

        #f3{
            @include md{
                grid-area: f3;
            }
            h1{
                color: $alpine-frost;
            }
        }
    }
}